[Desktop Entry]
Name=Restart Dash-to-Panel Extension
Comment=Fix annoying broken docks at login

Path=/home/jg/repos/misc_script
Exec=/home/jg/repos/misc_script/restart_dash_to_panel.sh

Terminal=false
Type=Application

# Probably not required
X-GNOME-Autostart-enabled=true
